{% load static %}
<!doctype html>
    <html lang="en">
            <head>
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <meta charset="utf-8">
                <link rel="stylesheet" href="{% static 'core/home.css' %}"  />
                <title>Code Blocks</title>
            </head>
        <body>
            <header class="banner">
                <h1>Code Blocks</h1>
            </header>

            <div class="columns">
                <div class="column">Word Bank</div>
                <div class="column">Workspace</div>
                <div class="column">Scenario/Tutorial</div>
            </div>
        </body>
</html>
